@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/ClientAssets/style/about-us.css" rel="stylesheet" />

<div style=" overflow-x: hidden;">
    <iframe style="width: 100%;"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0970741910833!2d105.77971427517649!3d21.02880148062058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b32b842a37%3A0xe91a56573e7f9a11!2zOGEgVMO0biBUaOG6pXQgVGh1eeG6v3QsIE3hu7kgxJDDrG5oLCBD4bqndSBHaeG6pXksIEjDoCBO4buZaSAxMDAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1683467511481!5m2!1svi!2s"
            height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="aboutUs container">
    <ol style="padding: 0;" class="breadcrumb">
        <li><a href="../index.html">Home</a></li>
        <li>/</li>
        <li><a href="../pages/cart.html">Your Cart</a></li>
    </ol>
    <h1>About us</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rutrum nunc eu maximus suscipit. Praesent erat
        augue, molestie ac nisi et, mollis pulvinar massa. Integer convallis gravida est, sed commodo magna. Duis rutrum
        tellus sed nisi maximus, sit amet elementum nulla tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Proin feugiat finibus iaculis. Phasellus ullamcorper ex vulputate libero tristique maximus. Quisque ultrices nulla
        ac auctor faucibus. Pellentesque elementum augue et justo ullamcorper sollicitudin. Curabitur est neque, dignissim
        vel consectetur eu, fringilla at augue. Integer euismod tortor in dignissim venenatis.
    </p>
    <p>
        Nullam sed nisi ultrices purus condimentum tempus. Cras vehicula diam ornare, facilisis quam id, fermentum elit.
        Sed ultrices posuere nibh quis viverra. Pellentesque scelerisque eros lacinia tempor iaculis. Quisque eleifend
        diam volutpat blandit ultricies. Curabitur at volutpat dui. Duis dignissim augue felis. Integer maximus vestibulum
        quam, faucibus sodales nisi placerat sit amet. Vestibulum fermentum lorem id tincidunt aliquet. Sed mauris felis,
        porttitor eget felis et, molestie viverra odio. Aliquam at rutrum ipsum, ornare dictum nisl. In quis ante sit amet
        ante interdum tempus.
    </p>
    <p>
        Ut non orci bibendum, fermentum massa eu, cursus lorem. Integer consequat, odio in condimentum commodo, erat
        velit accumsan erat, vel molestie nunc sem sit amet sapien. Phasellus molestie semper efficitur. Quisque fermentum
        nunc ac mauris laoreet pulvinar. Quisque et odio tristique, tempus orci sed, fermentum ligula. Duis at sapien sed
        augue accumsan lobortis at vel felis. Vestibulum sagittis, est sed dapibus blandit, erat dolor lobortis felis, eu
        gravida massa dolor ac enim. Curabitur fringilla nisl et elit eleifend, nec convallis diam elementum. Pellentesque
        luctus sagittis sem, sed aliquet nunc porttitor nec. Nam sem nisl, hendrerit eget erat tempus, hendrerit rhoncus
        erat. Quisque auctor efficitur nulla ut aliquet. Nulla et ipsum vitae dolor lacinia auctor. Ut et nibh in nunc
        pulvinar cursus. Praesent blandit est ut arcu egestas ultrices.
    </p>
</div>
<div class="lineEnd"></div>