@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/ClientAssets/style/contact-us.css" rel="stylesheet" />

<div style=" overflow-x: hidden;">
    <iframe style="width: 100%;"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0970741910833!2d105.77971427517649!3d21.02880148062058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b32b842a37%3A0xe91a56573e7f9a11!2zOGEgVMO0biBUaOG6pXQgVGh1eeG6v3QsIE3hu7kgxJDDrG5oLCBD4bqndSBHaeG6pXksIEjDoCBO4buZaSAxMDAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1683467511481!5m2!1svi!2s"
            height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="aboutUs container">
    <ol style="padding: 0;" class="breadcrumb">
        <li><a href="../index.html">Home</a></li>
        <li>/</li>
        <li><a href="../pages/cart.html">Contact us</a></li>
    </ol>
    <div class="contactUs--container">
        <div class="contactUs--left">
            <h1>Contact us</h1>
            <p>
                We're happy to answer questions or help you with returns. <br>
                Please fill out the form below if you need assistance.
            </p>
            <form>
                <div class="contactUs--left--groupInput">
                    <div class="contactUs--left--groupInput--item">
                        <label>First Name</label>
                        <input type="text" required>
                    </div>
                    <div class="contactUs--left--groupInput--item">
                        <label>Last Name</label>
                        <input type="text" required>
                    </div>
                </div>
                <div class="contactUs--left--groupInput">
                    <div class="contactUs--left--groupInput--item">
                        <label>Email Address</label>
                        <input type="text" required>
                    </div>
                    <div class="contactUs--left--groupInput--item">
                        <label>Phone Number</label>
                        <input type="text" required>
                    </div>
                </div>
                <div class="contactUs--left--groupInput">
                    <div class="contactUs--left--groupInput--item">
                        <label>Company Name</label>
                        <input type="text" required>
                    </div>
                    <div class="contactUs--left--groupInput--item">
                        <label>Order Number</label>
                        <input type="text" required>
                    </div>
                </div>
                <div class="contactUs--left--groupInput--textarea">
                    <label>Comment/Questions</label>
                    <textarea type="text"></textarea>
                </div>
            </form>
        </div>
        <div class="contactUs--right">
            <div class="contactUs--right--heading">
                <h2>PLEASE DO GET IN TOUCH!</h2>
            </div>
            <p>
                We'd love to hear from you - please use the form to send us<br> your message or ideas. Or simply pop in for a
                cup
                of fresh tea<br> and a cookie:
            </p>
            <button>Send Message</button>
            <p>
                685 Market Street<br>
                San Francisco, CA 94105, US
            </p>
            <p>
                Email: example@domain.com<br>
                Toll-free: <strong>(018) 900-6690</strong>
            </p>
            <div>
                <h4>Opening Hours:</h4>
                <p>
                    Monday to Saturday: 9am - 10pm<br>
                    Sundays: 10am - 6pm
                </p>
            </div>
        </div>
    </div>
</div>
<div class="lineEnd"></div>