@*@model OnlineSuperMarket.Models.ViewModel.LoginViewModel*@
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="loginForm">
    <div class="loginForm--content">
        <div id="closeLoginForm">
            <p>X</p>
        </div>
        <div class="loginForm--heading">
            <p class="loginForm--heading--title">Customer login</p>
            <p class="loginForm--heading--subtitle">If you are already registered, please log in.</p>
        </div>
        <div class="loginForm--formInput">
            <form asp-action="Login" asp-controller="Account" enctype="multipart/form-data">
                <label for="email">Email Address: *</label>
                <input name="email" type="email">
                <label for="password">Password: *</label>
                <input name="password" type="password">
                <button type="submit">Sign In</button>
            </form>
            <a href="#">Forgot your password?</a>
        </div>
        <div class="loginForm--subtitle">
            <p>Create your account and enjoy a new shopping experience.</p>
        </div>
        <div class="loginForm--createNew">
            <button><a asp-action="Register" asp-controller="Account">Create A New Account</a></button>
        </div>
    </div>
</div>

                