@using Microsoft.AspNetCore.Identity
@using OnlineSuperMarket.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using OnlineSuperMarket.Models.ViewModel;
@inject IHttpContextAccessor HttpContextAccessor
@{
    var username = UserManager.GetUserName(User);
    var session = HttpContextAccessor.HttpContext.Session;
    string jsoncart = session.GetString(OnlineSuperMarket.Controllers.ProductController.CARTKEY);
    
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Supermarket</title>
    <link rel="shortcut icon" type="image/icon" href="~/ClientAssets/img/Premium Vector _ Supermarket logo concept.jpg" />
    <link ref="stylesheet" href="~/ClientAssets/fontawesome-pro-6.1.0-web/css/all.min.css">
    <script src="~/ClientAssets/fontawesome-pro-6.1.0-web/js/all.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="stylesheet" href="~/ClientAssets/style/footer-header.css">
    <link rel="stylesheet" href="~/ClientAssets/style/home-page.css">
    <link rel="stylesheet" href="~/ClientAssets/style/signUp.css">
    <link rel="stylesheet" href="~/ClientAssets/style/cart.css"/>
    <link rel="stylesheet" href="~/ClientAssets/style/product-list.css"/>
    <link rel="stylesheet" href="~/ClientAssets/style/product-details.css"/>
    <link rel="stylesheet" href="~/ClientAssets/style/my-order.css"/>
    <link rel="stylesheet" href="~/ClientAssets/style/profile.css"/>
    
</head>

<body>
    <div id="overlay"></div>


    <!-- Log in form  -->
    @if (SignInManager.IsSignedIn(User) == false)
    {
        @await Html.PartialAsync("~/Views/Account/Login.cshtml")
    }

    <!-- End  -->
    <!-- Header 2 -->
    <div class="hiddenHeader">
        <div class="hiddenNavbar">
            <div class="hiddenNavbar--left">
                <ul>
                    <li><a asp-action="Index" asp-controller="Home"><img src="~/ClientAssets/img/superkart-logo-white-n-yellow_1631269889__17681.original.png" width="120px;"></a></li>
                    <li><a asp-action="Index" asp-controller="Product">Category</a></li>
                    <li><a href="#">Appliances</a></li>
                    <li><a asp-action="AboutUs" asp-controller="Home">About Us</a></li>
                    <li><a asp-action="ContactUs" asp-controller="Home">Contact Us</a></li>
                    <li><a href="#">Registered Brand</a></li>
                    <li><a href="#">Registration Shop</a></li>
                </ul>
            </div>
            <div class="hiddenNavbar--right">
                <ul>
                    <li><i class="fa-light fa-magnifying-glass hiddenHeader--icon"></i></li>
                    @if (jsoncart != null)
                    {
                        var cart = JsonConvert.DeserializeObject<List<CartItem>>(jsoncart);
                        <li><a asp-action="Index" asp-controller="Cart"><i class="fa-light fa-cart-shopping hiddenHeader--icon"></i></a><span class="amountCart">@cart.Count</span></li>

                    }
                    else
                    {
                        <li><a style="color: #fff;" asp-action="Index" asp-controller="Cart"><i class="fa-light fa-cart-shopping hiddenHeader--icon"></i></a><span class="amountCart">0</span></li>

                    }
                </ul>
            </div>
        </div>
    </div>
    <!-- End  -->
    <!-- Header Start  -->
    <header>
        <div class="header">
            <div class="header--headerTop container">
                <div class="headerTop--logo">
                    <a asp-action="Index" asp-controller="">
                    <img src="~/ClientAssets/img/superkart-logo-white-n-yellow_1631269889__17681.original.png" width="180px" alt="logo image">
                    </a>
                </div>
                <div class="headerTop--search">
                    <form class="form">
                        <div class="search_category">
                            <select name="category" class="select_category">
                                <option selected>All</option>
                                <option>A</option>
                                <option>A</option>
                                <option>A</option>
                                <option>A</option>
                            </select>
                        </div>
                        <input class="form_input" placeholder="Search the store" />
                        <button class="button_submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div class="headerTop--list">
                    <div class="item headerTop--list--phone">
                        <p>Available 24/7 at</p>
                        <h3>(+84) 987-729-543</h3>
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="item headerTop--list--wishlist">
                            <i class="icon fa-thin fa-heart"></i>
                        </div>
                       
                        @if (jsoncart != null)
                        {
                            var cart = JsonConvert.DeserializeObject<List<CartItem>>(jsoncart);
                            <div class="item headerTop--list--cart">
                                <a asp-action="Index" asp-controller="Cart"><i class="icon fa-thin fa-cart-shopping"></i></a>
                                <span class="headerAmount">@cart.Count</span>
                            </div>

                        }
                        else
                        {
                            <div class="item headerTop--list--cart">
                                <a asp-action="Index" asp-controller="Cart"><i class="icon fa-thin fa-cart-shopping"></i></a>
                                <span class="headerAmount">0</span>
                            </div>
                           
                        }

                        <div class="item headerTop--list--signin">
                            @if (User.Identity.IsAuthenticated)
                            {
                                var user = await UserManager.GetUserAsync(User);
                                if (user != null)
                                {
                                    var imagePath = user.Avatar;
                                    if (!string.IsNullOrEmpty(imagePath))
                                    {
                                        <img class="avatarUser" src="~/ClientAssets/img/@imagePath">
                                    }
                                }
                            }
                            @*<img class="avatarUser" src="~/ClientAssets/img/default.jpg">*@
                            <div class="dropdown-test">
                                <ul>
                                    <li><a asp-action="MyOrder" asp-controller="Account">My Order</a></li>
                                    <li><a asp-action="Profile" asp-controller="Account">My Profile</a></li>
                                    <li>
                                        <a asp-action="Logout" asp-controller="Account">
                                            Logout
                                        </a>
                                    </li>
                                    <li>Setting</li>
                                </ul>
                            </div>
                        </div>

                        <script>
                            var dropdown = document.querySelector(".dropdown-test");
                            var avatarUser = document.querySelector(".avatarUser");

                            avatarUser.onclick = function() {
                                dropdown.classList.toggle("displayBlock");
                            }
                        </script>
                        
                    }
                    else
                    {
                        <div class="item headerTop--list--wishlist">
                            <i class="icon fa-thin fa-heart"></i>
                            <p>Wish Lists</p>
                        </div>
                        <div class="item headerTop--list--signin">
                            <i class="icon fa-thin fa-user"></i>
                            <p>Sign in</p>
                        </div>
                        <div class="item headerTop--list--cart">
                            <i class="icon fa-thin fa-cart-shopping"></i>

                            <p>Cart</p>
                        </div>
                    }

                </div>
            </div>
            <div class="header--headerBottom container">
                <div class="header--headerBottom--navbar">
                    <div class="header--headerBottom--navbar--navbarItem">
                        <div class="new">New</div>
                        <div class="navbarItem">
                            <a asp-action="Index" asp-controller="Product">Category</a>
                        </div>
                    </div>
                    <div class="header--headerBottom--navbar--navbarItem">
                        <div class="space"></div>
                        <div class="navbarItem">
                            <a href="#">Appliances</a>
                        </div>
                    </div>
                    <div class="header--headerBottom--navbar--navbarItem">
                        <div class="sale">Sale</div>
                        <div class="navbarItem">
                            <a asp-action="AboutUs" asp-controller="Home">About Us</a>
                        </div>
                    </div>
                    <div class="header--headerBottom--navbar--navbarItem">
                        <div class="space"></div>
                        <div class="navbarItem">
                            <a asp-action="ContactUs" asp-controller="Home">Contact Us</a>
                        </div>
                    </div>
                    <div class="header--headerBottom--navbar--navbarItem">
                        <div class="space"></div>
                        <div class="navbarItem">
                            <a href="#">Registered Brand</a>
                        </div>
                    </div>
                    <div class="header--headerBottom--navbar--navbarItem">
                        <div class="hot">Hot</div>
                        <div class="navbarItem">
                            <a href="#">Registration Shop</a>
                        </div>
                    </div>
                </div>
                <div class="header--headerBottom--help">
                    <div class="header--headerBottom--help--helpItem">
                        <div class="helpItem">
                            <i class="fa-solid fa-user-headset iconHeadset"></i>
                            <p>Help</p>
                        </div>
                        <span class="line"></span>
                        <div class="helpItem">
                            <img src="~/ClientAssets/img/usa-flag.jpg" width="20px;" height="16px;" alt="flag">
                            <p>USA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="notification">
        <div class="space"></div>
        <div class="content">
            <a>BUY NOW, PAY LATER STARTING AT 0% APR</a>
            <span class="learnmore">Learn more</span>
        </div>
        <div id="closeBtn"><i class="fa-solid fa-xmark"></i></div>
    </div>
    <!-- Header End  -->


    @RenderBody()


    <!-- Footer Start  -->
    <footer>
        <div class="footerTop">
            <div class="footerTop--content container">
                <ul>
                    <li><strong>Categories</strong></li>
                    <li><a href="#">Appliances</a></li>
                    <li><a href="#">Computer & Laptops</a></li>
                    <li><a href="#">Cameras</a></li>
                    <li><a href="#">Mobilephones & Tablets</a></li>
                </ul>
                <ul>
                    <li><strong>Brand</strong></li>
                    <li><a href="#">Benjamin Button</a></li>
                    <li><a href="#">Arm & Hammer</a></li>
                    <li><a href="#">BisTech</a></li>
                    <li><a href="#">OFS</a></li>
                    <li><a href="#">Alera</a></li>
                    <li><a href="#">Anna</a></li>
                </ul>
                <ul>
                    <li><strong>Further Info</strong></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Theme Styles</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Gift Certificates</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Brands</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
                <ul>
                    <li><strong>Customer Service</strong></li>
                    <li><a href="#">Help & FAQs</a></li>
                    <li><a href="#">Terms of Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Online Returns Policy</a></li>
                    <li><a href="#">Rewards Program</a></li>
                    <li><a href="#">Rebate Center</a></li>
                    <li><a href="#">Partners</a></li>
                </ul>
            </div>
        </div>
        <div class="footerMiddle container">
            <div class="footerMiddle--newsletter">
                <strong>Subscribe to our newsletter</strong>
                <p>Get the latest updates on new products and upcoming sales</p>
                <form style="text-align: left;">
                    <input class="formInput" type="email" name="email" placeholder="Your email address">
                    <button class="formBtn">Subscribe</button>
                </form>
            </div>
            <div class="footerMiddle--storeInfo">
                <ul>
                    <li><strong>Store Info</strong></li>
                    <li>
                        <p>8A - Ton That Thuyet, My Dinh</p>
                    </li>
                    <li>
                        <p>Call us at (+84) 987-729-543</p>
                    </li>
                    <li>
                        <p>Email: superkart.04@gmail.com</p>
                    </li>
                </ul>
            </div>
            <div class="footerMiddle--connectUs">
                <strong>Connect with us</strong>
                <ul>
                    <li class="facebook-icon"><i class="fa-brands fa-facebook-f"></i></li>
                    <li class="twitter-icon"><i class="fa-brands fa-twitter"></i></li>
                    <li class="bell-icon"><i class="fa-solid fa-bell"></i></li>
                    <li class="youtube-icon"><i class="fa-brands fa-youtube"></i></li>
                    <li class="messenger-icon"><i class="fa-brands fa-facebook-messenger"></i></li>
                </ul>
            </div>
        </div>
        <div class="footerBottom">
            <div class="space"></div>
            <div class="credit">
                <ul>
                    <li> </li>
                    <li><img src="~/ClientAssets//img/trust-image.jpg"></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- Footer End  -->
    <script src="~/ClientAssets/js/ProfileUpdateAjax.js"></script>
    <script src="~/ClientAssets/js/updateCart.js"></script>
    <script src="~/ClientAssets/js/slide-toggle.js"></script>
    <script src="~/ClientAssets/js/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="~/ClientAssets/js/swipper.js"></script>
    <script src="~/ClientAssets/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
