.active {
    color: #0a6cdc;
}

.productList--body {
    display: flex;
}

/* .productList--body {
  display: flex;
} */

.productList--img {
    position: absolute;
    z-index: 0;
    max-width: 1400px;
}

.productList--banner h1 {
    position: relative;
    z-index: 4;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 267px;
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

.productList--banner {
    padding-bottom: 40px;
}

.productList--heading {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #c4c5c1;
    align-items: center;
    width: 100%;
}

.breadcrumb {
    display: flex;
    float: none;
    font-size: 14px;
    padding: 0;
}

.breadcrumb li {
    list-style-type: none;
    margin-right: 6px;
}

.breadcrumb li a {
    color: grey;
}

.paginationTop {
    display: flex;
    width: 47%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.pagination-custom{
    text-align: right;
}

.group--paginate input {
    padding: 10px 40px 10px 15px;
    border-radius: 40px;
    color: gray;
    border: 1px solid #c4c5c1;
    outline: none;
}

.group--paginate button {
    padding: 10px 10px 10px 15px;
    /* border-radius: 40px; */
    /* color: gray; */
    border: 1px solid #c4c5c1;
    outline: none;
    cursor: pointer;
}

.group--paginate select,
.group--sort select {
    padding: 10px 40px 10px 15px;
    border-radius: 40px;
    color: gray;
    border: 1px solid #c4c5c1;
    outline: none;
}

.group--paginate label,
.group--sort label {
    margin-right: 8px;
    color: #202020;
    font-size: 14px;
}

.changeForm--icon {
    width: 34px;
    height: 34px;
    margin-right: 8px;
}

.productList--filter ul {
    display: none;
}

.productList--filter--category ul{
    padding: 0;
}

.productList--filter--category ul li {
    list-style-type: none;
    text-align: left;
}

.productList--filter--category h3 {
    font-size: 16px;
    font-weight: 500;
}

.productList--filter h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-top: 32px;
}

.productList--filter--category h2 {
    display: flex;
    justify-content: space-between;
}

.productList--filter {
    width: 240px;
}

.productList--filter--category,
.productList--filter--brand,
.productList--filter--color,
.productList--filter--size,
.productList--filter--others {
    border-bottom: 1px solid #c4c5c1;
    padding-bottom: 20px;
}

.productList--filter--custom p {
    color: #505050;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.productList--item--title {
    display: flex;
    align-items: center;
    position: relative;
}

.lineEnd {
    height: 12px;
    width: 100%;
    background-color: #eee;
    margin-top: 32px;
}

.productList--list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /*grid-template-rows: 430px;*/
    margin-left: 12px;
    margin-top: 32px;
    height: auto;
    flex: 0px;
}

.productList--right {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productList--list--item {
    height: 412px;
}

.productList--list .card {
    margin-left: 32px;
    margin-bottom: 60px;
}

.productList--list .card img {
    width: 95%;
}

.topBrand {
    margin-top: 60px;
    display: flex;
}

.topBrand--brands {
    width: 100%;
    background-color: #f5f5f5;
}

.topBrand--brands--title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px;
}

.topBrand--brands--logo--group img {
    margin: 18px;
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    width: 27%;
    cursor: pointer;
}

.topBrand--brands--logo--group img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.topBrand--brands--logo--group {
    margin-left: 18px;
}